{{#each friends}}
    <li class="c-friends__item" draggable="true" data-user="{{id}}">
        <div class="c-friends__img-wrapper">
            <img class="c-friends__img" src="{{photo_100}}" alt="">
        </div>
        <span class="c-friends__name">{{first_name}} {{last_name}}</span>
        <a href="#" class="c-friends__button c-friends__button_move">
            <img src="./img/plus.svg" alt="">+
        </a>
    </li>
{{/each}}